# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Django stuff
*.log
db.sqlite3
media/
staticfiles/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac / Windows system files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Pip installer logs
pip-log.txt
pip-delete-this-directory.txt

# Coverage / test reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/
